<div class="card" *ngFor="let api of apis">
    <div class="card-header text-center">
        <h4>{{api.name.toUpperCase()}} - API documentación</h4>
    </div>
    <ul class="list-group list-group-flush">
        <div class="accordion" id="accordionapi">
            <div class="accordion-item" *ngFor="let method of api.methods; let i = index">
                <h2 class="accordion-header" [id]="'headingOne'+i">
                    <button class="accordion-button btn" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse'+i" aria-expanded="true" [attr.aria-controls]="'#collapse'+i"
                    [ngClass]="{'btn-primary': method.name === 'GET', 'btn-success': method.name === 'POST', 'btn-warning': method.name === 'PUT', 'btn-danger': method.name === 'DELETE'}">
                        <span class="badge text-bg-primary"
                            [ngClass]="{'text-bg-primary': method.name === 'GET', 'text-bg-success': method.name === 'POST', 'text-bg-warning': method.name === 'PUT', 'text-bg-danger': method.name === 'DELETE'}">
                            {{method.name}}
                        </span>
                        <span class="ms-1">{{method.url}}/{{api.name}}<span *ngFor="let param of method.params">
                                <span *ngIf="param.type === 'params'">/:{{param.name}}</span>
                            </span>
                        </span>
                    </button>
                </h2>
                <div [id]="'collapse'+i" class="accordion-collapse collapse" [attr.aria-labelledby]="'headingOne'+i" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row justify-content-md-center">
                <div class="col-6">
                    <div class="card card-list-container">
                        <div class="card-header">
                            Params
                        </div>
                        <ul class="list-group list-group-flush" *ngFor="let params of method.params">
                            <li class="list-group-item">
                                <span class="badge"
                                    [ngClass]="{'text-bg-primary': params.type === 'query', 'text-bg-secondary': params.type === 'params'}">
                                    {{params.type}}
                                </span>
                                <span class="ms-1"
                                    *ngIf="params.type === 'query'">?{{params.name}}={{params.exampleValue}}
                                </span>
                                <span class="ms-1" *ngIf="params.type === 'params'">/:{{params.name}}
                                </span>
                                <span *ngIf="params.required">(Requerido)</span>
                                <span *ngIf="!params.required">(NO requerido)</span>
                            </li>
                        </ul>
                        <ul class="list-group list-group-flush" *ngIf="method.params.length <= 0">
                            <li class="list-group-item noData">No cuenta con parámetros de tipo Params</li>
                        </ul>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card card-list-container">
                        <div class="card-header">
                            Body Params
                        </div>
                        <ul class="list-group list-group-flush"
                            *ngFor="let bodyParams of method.bodyParams">
                            <li class="list-group-item">{{bodyParams.name}} <span
                                    *ngIf="bodyParams.required">(Requerido)</span> <span
                                    *ngIf="!bodyParams.required">(NO requerido)</span></li>
                        </ul>
                        <ul class="list-group list-group-flush" *ngIf="method.bodyParams.length <= 0">
                            <li class="list-group-item noData">No cuenta con parámetros de tipo Body</li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="card">
                        <div class="card-header">
                            Responses
                        </div>
                        <ul class="list-group list-group-flush" *ngFor="let response of method.responses">
                            <li class="list-group-item">
                                <span class="badge text-bg-success"
                                    [ngClass]="{'text-bg-danger': response.error, 'text-bg-success': !response.error}">
                                    {{response.statusCode}}
                                </span>
                                {{response.message}}
                            </li>
                        </ul>
                        <ul class="list-group list-group-flush" *ngIf="method.responses.length <= 0">
                            <li class="list-group-item noData">No cuenta con respuestas</li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="card">
                        <div class="card-header">
                            Live preview
                        </div>
                        <ul class="list-group list-group-flush">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row mb-4">
                                        <div class="col-12">
                                                <span class="badge text-bg-primary"
                                                    [ngClass]="{'text-bg-primary': method.name === 'GET', 'text-bg-success': method.name === 'POST', 'text-bg-warning': method.name === 'PUT', 'text-bg-danger': method.name === 'DELETE'}">
                                                    {{method.name}}</span>
                                            <span *ngIf="method.dynamicUrl === undefined">
                                                <span class="ms-1">{{method.url}}/{{api.name}}
                                                    <span *ngFor="let param of method.params">
                                                        <span *ngIf="param.type === 'params'">/:{{param.name}}</span>
                                                    </span>
                                                </span>
                                            </span>
                                            <span class="ms-1">{{method.dynamicUrl}}</span>
                                        </div>
                                    </div>
                                        <form (ngSubmit)="submitRequest(api.name, method)">
                                            <div class="row">
                                                <span *ngIf="method.params.length >= 1">
                                                    <span>Params</span><hr>
                                                </span>
                                                <div class="col-4" *ngFor="let param of method.params">
                                                    <div class="mb-3">
                                                        <label class="form-label">{{param.name}}{{param.required ? "*" : ""}}</label>
                                                        <input type="text" class="form-control"
                                                            [(ngModel)]="method.form[api.name+':'+method.name+':'+param.type+':'+param.name]"
                                                            [id]="api.name+':'+method.name+':'+param.type+':'+param.name"
                                                            [name]="api.name+':'+method.name+':'+param.type+':'+param.name"
                                                            [placeholder]="'Favor de ingresar ' + param.name"
                                                            [required]="param.required">
                                                        <div id="validationServer03Feedback" class="invalid-feedback">
                                                            {{'Favor de ingresar ' + param.name}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <span *ngIf="method.bodyParams.length >= 1">
                                                    <span>Body</span><hr>
                                                </span>
                                                <div class="col-4" *ngFor="let body of method.bodyParams">
                                                    <div class="mb-3">
                                                        <label class="form-label">{{body.fieldName}}{{body.required ? "*" : ""}} ({{body.name}})</label>
                                                        <input type="text" class="form-control"
                                                            [(ngModel)]="method.form[api.name+':'+method.name+':body:'+body.name]"
                                                            [id]="api.name+':'+method.name+':body:'+body.name"
                                                            [name]="api.name+':'+method.name+':body:'+body.name"
                                                            [placeholder]="'Favor de ingresar ' + body.fieldName"
                                                            [required]="body.required">
                                                        <div id="validationServer03Feedback" class="invalid-feedback">
                                                            {{'Favor de ingresar ' + body.name}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-md-center">
                                                <div class="col-4 text-center">
                                                    <button type="submit" class="btn btn-primary">Request</button>
                                                </div>
                                            </div>
                                        </form>
                                </div>
                            </div>
                            <div class="data-preview">
                                <pre class="m-3">{{ method.returnData | json}}</pre>
                            </div>
                        </ul>
                    </div>
                </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </ul>
</div>