<div class="container-fluid">
    <div class="row">
        <div class="col-6" *ngIf="!mostrarActualizar">
            <app-registrar-usuario></app-registrar-usuario>
        </div>
        <div class="col-6" *ngIf="mostrarActualizar">
            <app-actualizar-usuario [idUsuario]="idUsuario"></app-actualizar-usuario>
        </div>
        <div class="col-6 mt-5">
            <div class="card">
            <div class="card-header">Tabla de datos</div>
            <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre Completo</th>
                <th scope="col">Edad</th>
                <th scope="col">Actualizar</th>
                <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios; let index = index">
                    <th scope="row">{{index+1}}</th>
                    <td>{{usuario.strNombre}} {{usuario.strPrimerApellido}} {{usuario.strSegundoApellido}}</td>
                    <td>{{usuario.nmbEdad}}</td>
                    <td><button (click)="actualizar(usuario._id)" class="btn btn-primary"><i class="bi bi-pencil-square"></i></button></td>
                    <td><button class="btn btn-danger"><i class="bi bi-trash"></i></button></td>
                </tr>
            </tbody>
            </table>
            </div>

        </div>
    </div>
</div>