<div class="card mt-5">
    <div class="card-header">
        Actualizar usuario
    </div>
    <div class="card-body">
        <form class="row g-3">
        <div class="col-md-6">
            <label for="label-strNombre" class="form-label">Nombre:</label>
            <input type="text" class="form-control" id="strNombre" value="" required>
            <div class="invalid-feedback">
                El campo es requerido
            </div>
        </div>
        <div class="col-md-6">
            <label for="label-strPrimerApellido" class="form-label">Primer Apellido</label>
            <input type="text" class="form-control" id="strPrimerApellido" value="" required>
            <div class="invalid-feedback">
                El campo es requerido
            </div>
        </div>

        <div class="col-md-6">
            <label for="label-strSegundoApellido" class="form-label">Segundo Apellido</label>
            <input type="text" class="form-control" id="strSegundoApellido">
        </div>

        <div class="col-md-6">
            <label for="label-nmbEdad" class="form-label">Edad</label>
            <input type="number" class="form-control" id="nmbEdad" required>
            <div class="invalid-feedback">
                Es necesario ingresar la edad
            </div>
        </div>

        <div class="col-12 text-center">
            <button class="btn btn-primary" type="submit">Actualizar</button>
        </div>
        </form>
    </div>
</div>